@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');


body {
  background-color: #F4F4F4;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.navBar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; Distributes items */
  background-color: #F4F4F4;
  padding: 0.5rem 1rem;
  margin-top: -.5rem;
}

.navLinks {
  display: flex;
  gap: 0.5rem;
  justify-content: right;
  width: 100%;
}

.navLinks .navBtn {
  background: none;
  border: none;
  color: #31353B;
  font-weight: 400;
  height: 4rem;
}

.navBtn {
  font-size: 14px;
  padding: 0.5rem;
  width: auto;
  min-width: 6rem;
  width: 10rem;
}

.navBtn.active {
  background-color: #31353B;
  color: #F4F4F4;
  padding: 0.5rem 1rem;
  height: 4rem;
}

.navBtn.highlight {
  color: #268C4A;
}

.navBtn:hover {
  background-color: #31353b;
  color: #F4F4F4;
}

.navLogo {
  max-width: 12rem;
  margin-left: -2rem;
  margin-right: 8rem;
  margin-top: -4rem;
}

.black-box {
  background-color: #31353B;
  padding: 2%;
  display: flex;
  justify-content: center;
  border-radius: 14px;
  height: 40rem;
  margin-top: -3rem;
}

.profile-card {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 1.5rem;
  max-width: 1000px;
  width: 35%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.title-card {
  border: 1px solid #268C4A;
  border-radius: 10px;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  height: 20%;
}

.fname {
  font-size: 18px;
  margin-bottom: 0rem;
}

.lname {
  font-size: 26px;
  margin-top: 0;
}

.fname, .lname {
  color: #31353B;
  line-height: 30px;
  font-weight: 700;
  width: 15rem;
  letter-spacing: 2px;
}

.accID {
  font-size: 0.9rem;
  color: #31353B;
  text-align: right;
}

.info-card {
  margin-bottom: .5rem;
  background-color: #ffffff;
  border-radius: 14px; 
}

.label {
  padding: 0.5rem 0 0 0.8rem;
  margin-bottom: 0;
}

.info-card .label {
  font-size: 0.85rem;
  color: #31353B;
}

.info-card {
  padding-right: 1rem;
}

.info-card .value {
  background: #ffffff;
  border-radius: 8px;
  padding: 0.8rem;
  padding-top: 0.2rem;
}

.editBtn {
  width: 30px;
  float: right;
  margin-top: -35px;
  background: none;
  border: none;
}

.add-car-btn {
  text-align: center;
  border: 1px solid #28a745;
  color: #28a745;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 1rem 0;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #ffffff;
}

.add-car-btn:hover {
  background-color: #268C4A;
  color: #f4f4f4;
}

.chat-bot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
  width: 24rem;
  height: 5rem;
}

.chat-bot-text {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
}

.chat-bot img {
  width: 5rem;
  /* height: 5rem; */
  margin-left: -2rem;
  margin-top: -10px;
} 

@media (max-width: 576px) {

  .navBtn {
    font-size: 12px;
    padding: 0.4rem;
  }

  .navLogo {
    max-width: 10rem;
  }

  .navLinks {
    flex-wrap: wrap;
  }
  
  .navBar {
    justify-content: center;
    flex-wrap: wrap;
  }

  .profile-card {
      width: 90%;
  }

  .black-box {
    margin: 1rem 0rem;
    padding: 10px;
  }
  .navBtn {
    font-size: 12px;
  }

  .label {
    font-size: 9px;
  }

  .value {
    font-size: 7px;
  }
}