<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account - AutoCare+</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="..\static\css\myaccount.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    <!-- Navbar -->
  <div class="navBar">
    <img src="../static/images/autocarelogo.svg" alt="AutoCare+ logo" class="navLogo" height="40"/>
    <div class="navLinks d-flex">
      <button class="navBtn active">My Account</button>
      <button class="navBtn">My <p class="d-inline">Appointments</p></button>
      <button class="navBtn">Book <p class="d-inline">an Appointment</p></button>
      <button class="navBtn">Service Tracker</button>
      <button class="navBtn">Services</button>
      <button class="navBtn">Contact Us</button>
      <button class="navBtn highlight">AutoMobil Sport</button>
    </div>
  </div>

  <!-- Profile Card -->
  <div class="black-box">
    <div class="profile-card">
      <div class="title-card">
        <div class="d-flex justify-content-between">
          <div>
            <p class="fname">Justin Paul</p>
            <p class="lname">Gonzales</p>
          </div>
          <p class="accID">Account ID: 0129385</p>
        </div>
      </div>

      <div class="info-card">
        <div class="label">Email</div>
        <div class="value">jpgonzales@gmail.com</div>
      </div>

      <div class="info-card">
        <div class="label">Phone Number</div>
        <div class="value">0912-345-789</div>
      </div>

      <div class="info-card">
        <div class="label">Address</div>
        <div class="value">ABC Avenue, Taguig City, Metro Manila</div>
      </div>

      <div class="row">
        <div class="col">
          <div class="info-card">
            <div class="label">Car</div>
            <div class="value">
              McLaren 75LT<br>
              Volkswagen T-Cross<br>
              Lexus LC 500
            </div>
          </div>
        </div>
        <div class="col">
          <div class="info-card">
            <div class="label">Plate Number</div>
            <div class="value">
              ABC 1234<br>
              EFG 5678<br>
              HIJ 9012
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="add-car-btn">+ Add a car</div>
        </div>
  
        <div class="col">
          <div class="info-card">
            <div class="label">No. of transactions made</div>
            <div class="value">2</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chatbot -->
  <div class="chat-bot">
    <div class="row">
      <div class="col-10">
        <div class="chat-bot-text">
          Welcome!<br>
          For fast inquiries, I'm the man for the job!
        </div>
      </div>
      <div class="col-1">
        <img src="../static/images/chat-bot.svg" alt="chatbot">
      </div>
    </div>
  </div>
</html>
